
<div class="center">
  <div class="maintitle"><p class="title">Neighborly</p> </div>
</div>
<div class="center">
  <%= image_tag("home.png", class: "homeimage" ) %>
</div>
<h2>About</h2>
<div class="abouttext">
  <p> Neighborly is web application for people to connect with thier community. Select your location to see the events in your area. Having a rummage sale or a bbq? Post an event to the events calendar for your neighborhood. Did you recently lose your pet or find an iphone in the street? Post to our lost and found so your neighbors can get in touch with you. Neighborly will help you stay in touch with your community! </p>
</div>
