<h2>Events Map</h2>
<% @localarray = Array.new %>

<% @events.each do |event| %>
  <% @location = {
    lat: event.latitude,
    lng: event.longitude,
    marker: event.name,
    eventid: event.id
    } %>
  <% @localarray.push(@location) %>
<% end %>

<%= puts "oooooooooo" + @localarray.to_s %>
<script type="text/javascript">
  let locationTest = <%=raw @localarray.to_json %>
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLEMAPS_API_KEY']%>&callback=initMap"
type="text/javascript">
</script>


<div id="map" class="fullmap"></div>
