// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainfont: 'Quicksand', sans-serif;
$accentcolor: #5ee5bc;
$hovercolor: #8befd1;

html, body {
  margin: 0;
  height: 100%;
}

// footer {
//   background-color: #202563;
//   height: 30px;
//   clear: both;
//   bottom: 0px;
//   position: absolute;
// }

.homeimage {
  width: 900px;
}

.maintitle {
  font-size: 50px;
  text-align: center;
  font-family: 'Miniver', cursive;
  background-color: $accentcolor;
  border-radius: 50%;
  width: 255px;
  height: 255px;
  color: black;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title {
  padding-top: 80px;

}

.logo {
  width: 60px;
}

body {
  font-family: $mainfont;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.center {
  text-align: center;
}

 button:focus, textarea:focus, select:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

input[type="checkbox"] {
  width: 20px;
}

input {
  font-family: $mainfont;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid gray;
  width: 370px;
}

textarea {
  font-family: $mainfont;
  font-size: 20px;
  margin: 10px;
  resize: none;
}

input[type="submit"] {
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  background-color: $accentcolor;
}

input[type="submit"]:hover {
  background-color: $hovercolor;
}

input[type="file"] {
  display: none;
}

.customupload {
  text-transform: uppercase;
  font-family: $mainfont;
  background-color: $accentcolor;
  margin: 10px;
  display: inline-block;
}

.customupload:hover {
  background-color: $hovercolor;
}

label {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}

select {
  font-family: $mainfont;
  font-size: 20px;
  margin: 20px 10px 20px 10px;
}

a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

a:hover {
  color: $accentcolor;

}

.navlink {
  font-size: 20px;
  color: black;
  padding: 16px;
}

.navlink:hover {
  background-color: $accentcolor;
  color: black;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: $mainfont;
    text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: $accentcolor;
}




.linkbutt {
  text-align: center;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  background-color: $accentcolor;
  width: 120px;
  color: black;
  display: inline-block;
}

.linkbutt:hover {
  background-color: $hovercolor;
  color: black;
}

.locallink {

}

.abouttext {
  text-align: center;
  font-size: 20px;
  margin: 10px 190px 30px 190px;
}

hr {
  width: 800px;
}




// media queries
@media (min-width: 300px) {
  .event {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .showmap {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px
  }

}

/*larger than phablet*/

@media (min-width:550px) {
  .event {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .showmap {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px
  }

}

/*larger than tablet*/

@media (min-width: 750px) {
  .event {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .showmap {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px
  }

}

/*larger than desktop*/

@media (min-width: 1000px) {
  .event {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .showmap {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 30px
  }



}

/*larger than desktop HD*/

@media (min-width:1200px) {
  .event {
    float: left;
    width: 550px;
    height: 550px;
    margin: 40px 20px 40px 50px;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    background-color: #f1f1f1;
  }
  .showmap {
    height: 550px;
    margin: 0;
    width: 550px;
    float: right;
    margin: 40px 50px 40px 20px;
    border: 2px solid black;
  }

}
